*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero{
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    background-image: url('./images/Banner\ Image.png');
     
     
}

.hero-content{
     
    width: 632px;
    height: 240px;
    
    margin: 0px auto;
    padding: 200px;
}

.hero-content h2{
    font-size: 24px;
    color: white;
}
.hero-content h1{
    font-size: 32px;
    color: rgb(240, 122, 11);
}

.offer{
    width: 800px;
    height: 806px;
    margin: 0 auto;
    text-align: center;
}

.offer h1{
    font-weight: bold;
    font-size: 70px;
    color: red;
}
.offer h3{
    font-weight: 400;
    font-size: 16px;
    color: red;
    margin-top: 20px;
}

.offer h2{
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 35px;
     
}

.party{
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    background-image: url('./images/Vectorrr.png');
}

.party-content{
    align-items: center;
    margin: 150px;
    color: white;
}

.party-content h1{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 25px;
}

.party-content h3{
    font-size: 14px;
    margin-bottom: 25px;

}

.party-content a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-weight: bold;
    font-size: 16px;
}

.party img{
    width: 280px;
    height: 460px;
    margin-top: 100px;
    margin-right: 85px;
}

.join{
    width: 1320px;
    height: 300px;
    margin: 0 auto;
    padding: 80px;
    text-align: center;
    background-color: rgb(253, 232, 199);
    
}
span{
    color: red;
    font-weight: bold;
}

.join button{
    margin-top: 30px;
    padding: 6px;
    border-radius: 6px;
    background-color: red;
    color: white;
    border: none;
}

.best{
    display: flex;
    width: 1320px;
    height: 460px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 40px;
}

.best div{
    width: 450px;
     
}

 .best-content{
    margin-top: 60px;
 }

.best1{
    border: 10px solid red ;
    border-radius: 100%;
    padding: 8px;
    width: 250px;
}

.function{
    width: 1020px;
    height: 260px;
    margin: 0 auto;
     
}

.fun-1{
    width: 860px;
    height: 200px;
    text-align: center;
}

.fun-1 h2{
    margin-bottom: 30px;
}
.fun-1 p{
    margin-top: 30px;
}

.dot{
    color: blueviolet;
    
}

.fun-2{
    display: flex;
    margin-top: 50px;
    background-image: url("./images/Rectangle\ 2.png");
    background-repeat: no-repeat;
    background-position: bottom;
     
}
 

