*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero{
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    background-image: url('./images/Banner\ Image.png');
     
     
}

.hero-content{
     
    width: 632px;
    height: 240px;
    
    margin: 0px auto;
    padding: 200px;
}

.hero-content h2{
    font-size: 24px;
    color: white;
}
.hero-content h1{
    font-size: 32px;
    color: rgb(240, 122, 11);
}

.offer{
    width: 800px;
    height: 806px;
    margin: 0 auto;
    text-align: center;
}

.offer h1{
    font-weight: bold;
    font-size: 70px;
    color: red;
}
.offer h3{
    font-weight: 400;
    font-size: 16px;
    color: red;
    margin-top: 20px;
}

.offer h2{
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 35px;
     
}

.party{
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    background-image: url('./images/Vectorrr.png');
    margin-bottom: 50px;
}

.party-content{
    align-items: center;
    margin: 150px;
    color: white;
}

.party-content h1{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 25px;
}

.party-content h3{
    font-size: 14px;
    margin-bottom: 25px;

}

.party-content a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-weight: bold;
    font-size: 16px;
}

.party img{
    width: 280px;
    height: 460px;
    margin-top: 100px;
    margin-right: 85px;
}

.join{
    width: 1320px;
    height: 300px;
    margin: 0 auto;
    padding: 80px;
    text-align: center;
    background-color: rgb(253, 232, 199);
    border-radius: 6px;
    margin-bottom: 50px;
    
}
span{
    color: red;
    font-weight: bold;
}

.join button{
    margin-top: 30px;
    padding: 6px;
    border-radius: 6px;
    background-color: red;
    color: white;
    border: none;
}

.best{
    display: flex;
    width: 1320px;
    height: 460px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 80px 200px;

}

.best div{
    width: 450px;
     
}

 .best-content{
    margin-top: 60px;
 }

.best1{
    border: 10px solid red ;
    border-radius: 100%;
    padding: 8px;
    width: 250px;
}

.function{
    width: 1020px;
    height: 260px;
    margin: 0 auto;
   
     
}

.fun-1{
    width: 860px;
    height: 200px;
    text-align: center;
}

.fun-1 h2{
    margin-bottom: 30px;
}
.fun-1 p{
    margin-top: 30px;
}

.dot{
    color: blueviolet;
    
}

.fun-2{
    display: flex;
    margin-top: 50px;
    background-image: url("./images/Rectangle\ 2.png");
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: 50px;
    
    
     
}

 .gift{
     
    width: 1320px;
    height: 1060px;
    margin: 0 auto;
    padding: 20px;
 }

 .gift h3{
    color: red;
    font-weight: 400px;
    font-size: 16px;
    margin-bottom: 4px;
 }
 
 .gift h2{
     
    font-weight: 600px;
    font-size: 30px;
    margin-bottom: 8px;
 }
 .gift p{
     
     
    margin-bottom: 35px;
 }

 .photo-1{
    margin-bottom: 20px;
 }

 .contact{
    width: 1320px;
    height: 460px;
    margin: 0 auto;
    background-color: #ffe0c7;
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 30px;
 }
 
 .contact h2{
    font-weight: 600;
    font-size: 30px;
    margin: 20px;
 }
 .contact p{
     
    margin: 20px;
 }

 .contact input{
    padding: 8px;
    width: 300px;
    border-radius:  20px;
    border: none;
 }

 .contact button{
    padding: 8px;
    background-color: red;
    color: white;
    border-radius:  20px;
    border: none;
 }

 .footer{
    background-color: black;
    color: white;
    width: 1320px;
    height: 460px;
    margin: 0 auto;
    padding: 80px;
 }

 .footer-1{
    display: flex;
    justify-content: space-between;
 }

 .pass-1{
    display: flex;
    gap: 14px;
 }
 .pass-2{
    display: flex;
    gap: 14px;
 }

 hr{
    color: rgb(41, 42, 44);
    margin: 30px 0;
 }

 .icon{
    text-align: center;
 }

 .icon img{
    margin: 6px;
 }

 .last{
    display: flex;
    justify-content: space-between;
 }

 
 

